---
import { Image } from "astro:assets"
import { kebabCase } from "lodash-es"
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"

import Layout from "$components/Layout.astro"
import { blogPosts, rendererOptions } from "$lib/contentful"
import { parseDateStr } from "$lib/parseDateStr"
import BlogHeader from "$lib/components/blog/BlogHeader.svelte"

export async function getStaticPaths() {
  const posts = await blogPosts({
    img: {
      width: 1920,
      height: 1080,
      quality: 90
    }
  })

  return posts.map((item) => ({
    params: { slug: item.slug },
    props: {
      title: item.title,
      description: item.description,
      date: item.date,
      shit: item.content,
      banner: item.banner,
      categories: item.category
    }
  }))
}

const { title, description, shit, date, banner, categories } = Astro.props
const { protocol, host } = Astro.url

const baseUrl = `${protocol}//${host}`
---

<script>
  // Importing client-side Lit components because frick you that's why
  await import("$lib/components/embeds/YoutubeEmbed")
</script>

<Layout {title} {description} webpageType="article">
  <div
    class="mt-8 px-8 max-w-screen-xl mx-auto prose-headings:font-bold flex flex-col gap-y-5 [&_p]:leading-7 lg:[&_p]:leading-8"
    itemtype="http://schema.org/Blog"
    itemscope
  >
    <meta itemprop="thumbnailUrl" content={banner} />
    <BlogHeader {categories} {title} {description} {date} {baseUrl}>
      <Image
        widths={[540, 960, 1440]}
        height={1920}
        width={1080}
        quality={90}
        loading="eager"
        sizes="(max-width: 360px) 540px, (max-width: 720px) 960px, (max-width: 1600px) 1440px"
        class="overflow-hidden aspect-video rounded-lg w-full object-cover"
        src={banner}
        alt={`Banner for ${title}`}
        fetchpriority="high"
        draggable="false"
        itemprop="image"
      />
    </BlogHeader>
    <div class="flex gap-x-6">
      <article
        set:html={documentToHtmlString(shit, rendererOptions)}
        class="flex-1 text-base lg:text-lg prose-p:font-normal text-white prose-h2:text-3xl prose-h3:text-2xl prose-headings:py-1.5 prose-p:my-4 first:prose-p:mt-0 last:prose-p:mb-0"
      />
      <aside class="[align-self:start] w-64 sticky top-20">
        <div class="my-2 font-bold text-xl">In this article</div>
      </aside>
    </div>
  </div>
</Layout>
