---
import { Image } from "astro:assets"
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"

import Layout from "$layouts/Layout.astro"
import { fetchBlogPosts, rendererOptions, parseForTOC } from "$lib/contentful"
import BlogHeader from "$components/blog/BlogHeader.svelte"

export async function getStaticPaths() {
  const posts = await fetchBlogPosts({
    img: {
      width: 1920,
      height: 1080,
      quality: 90
    }
  })

  return posts.map((item) => ({
    params: { slug: item.slug },
    props: {
      title: item.title,
      description: item.description,
      date: item.date,
      shit: item.content,
      banner: item.banner,
      categories: item.category
    }
  }))
}

const { title, description, shit, date, banner, categories } = Astro.props
const { protocol, host } = Astro.url

const baseUrl = `${protocol}//${host}`
---

<script>
  console.debug("Loading Lit components")
  await import("$components/embeds/YoutubeEmbed")
  await import("$components/embeds/SocialEmbed")
  await import("$components/embeds/CodeBlockRenderer")
</script>

<Layout {title} {description} webpageType="article">
  <div
    class="mt-8 px-8 max-w-screen-xl mx-auto prose-headings:font-bold flex flex-col gap-y-5 [&_p]:leading-7 lg:[&_p]:leading-8"
    itemtype="http://schema.org/Blog"
    itemscope
  >
    <meta itemprop="thumbnailUrl" content={banner} />
    <BlogHeader client:idle {categories} {title} {description} {date} {baseUrl}>
      <Image
        widths={[540, 960, 1440]}
        height={1920}
        width={1080}
        quality={90}
        loading="eager"
        sizes="(max-width: 360px) 540px, (max-width: 720px) 960px, (max-width: 1600px) 1440px"
        class="overflow-hidden aspect-video rounded-lg w-full object-cover"
        src={banner}
        alt={`Banner for ${title}`}
        fetchpriority="high"
        draggable="false"
        itemprop="image"
      />
    </BlogHeader>
    <div class="flex">
      <article
        set:html={documentToHtmlString(shit, rendererOptions)}
        class="min-w-0 text-base lg:text-lg prose-p:font-normal w-full text-white prose-h2:text-3xl prose-h3:text-2xl prose-headings:py-1.5 prose-p:my-3 [&_li_p]:my-0"
      />
      <aside
        class="bg-kuro-dark2 flex-shrink-0 md:flex [align-self:start] hidden md:w-56 lg:w-[16.75rem] sticky top-20 md:ml-5 lg:ml-10"
      >
        <div class="w-full">
          <div class="mb-2 font-bold text-xl">On this article</div>
          <ul
            class="flex flex-col gap-y-1 [&_a]:text-white [&_a]:opacity-60 hover:[&_a]:opacity-100 hover:[&_a]:text-kuro-violet-100"
            set:html={documentToHtmlString(shit, parseForTOC)}
          />
        </div>
      </aside>
    </div>
  </div>
</Layout>
