---
import { Image } from "astro:assets"
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"

import Layout from "$components/Layout.astro"
import { blogPosts } from "$lib/contentful/blogPosts"
import { parseDateStr } from "$lib/parseDateStr"

export async function getStaticPaths() {
  const posts = await blogPosts({
    img: {
      width: 1920,
      height: 1080,
      quality: 90
    }
  })

  return posts.map((item) => ({
    params: { slug: item.slug },
    props: {
      title: item.title,
      description: item.description,
      date: item.date,
      shit: item.content,
      banner: item.banner,
      categories: item.category
    }
  }))
}

const { title, description, shit, date, banner, categories } = Astro.props
const { protocol, host } = Astro.url

const baseUrl = `${protocol}//${host}`
---

<Layout {title} {description} webpageType="article">
  <div
    class="mt-8 px-8 max-w-screen-xl mx-auto prose-headings:font-bold flex flex-col gap-y-5 [&_p]:leading-8"
    itemtype="http://schema.org/Blog"
    itemscope
  >
    <meta itemprop="thumbnailUrl" content={banner} />
    <section>
      <span class="inline-flex mb-2.5 gap-x-6">
        {
          categories.map((cat) => (
            <a
              class="bg-clip-text text-transparent font-semibold bg-gradient-to-tr to-kuro-royalblue-200 from-kuro-lavender-400 hover:selection:text-white selection:text-white"
              href={`${baseUrl}/blog/category/${cat.toLowerCase()}`}
            >
              {cat}
            </a>
          ))
        }
      </span>
      <h1 class="text-3xl lg:text-[2.625rem] lg:leading-tight not-prose font-extrabold text-white">
        {title}
      </h1>
      <p class="text-base lg:text-lg opacity-65 py-2 lg:py-3.5">{description}</p>
      <Image
        widths={[540, 960, 1440]}
        height={1920}
        width={1080}
        quality={95}
        loading="eager"
        sizes="(max-width: 360px) 540px, (max-width: 720px) 960px, (max-width: 1600px) 1440px"
        class="overflow-hidden aspect-[16/8] rounded-lg w-full object-cover"
        src={banner}
        alt={`Banner for ${title}`}
        fetchpriority="high"
        draggable="false"
        itemprop="image"
      />
      <div class="flex items-center py-5 gap-x-4">
        <span class="flex-1"></span>
        <div class="border-l-2 border-l-kuro-violet-50 h-4"></div>
        <time datetime={date} itemprop="datePublished"
          >{`Posted on ${parseDateStr(date).readableDate}`}</time
        >
      </div>
    </section>
    <article
      set:html={documentToHtmlString(shit)}
      class="flex-1 text-base lg:text-lg prose-p:font-normal text-white prose-h2:text-3xl prose-h3:text-2xl prose-headings:py-3 prose-p:my-2 first:prose-p:mt-0 last:prose-p:mb-0 prose-blockquote:px-6 prose-blockquote:py-5 prose-blockquote:border-l-[6px] prose-blockquote:border-kuro-lavender-300 prose-blockquote:bg-kuro-lavender-900 prose-blockquote:bg-opacity-40 prose-blockquote:my-2.5 prose-blockquote:text-kuro-violet-50 prose-p:prose-blockquote:!font-medium"
    />
  </div>
</Layout>
