---
import { getImage } from "astro:assets"
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"

import Layout from "$layouts/Layout.astro"
import { fetchBlogPosts, rendererOptions, parseForTOC } from "$lib/contentful"
import BlogHeader from "$components/blog/BlogHeader.astro"
import BlogTOC from "$components/blog/BlogTOC.svelte"

export async function getStaticPaths() {
  const posts = await fetchBlogPosts({
    img: {
      width: 1920,
      height: 1080,
      quality: 90
    }
  })

  return posts.map((item) => ({
    params: { slug: item.slug },
    props: {
      title: item.title,
      description: item.description,
      date: item.date,
      shit: item.content,
      banner: item.banner,
      categories: item.category,
      /* eslint-disable-next-line @typescript-eslint/no-explicit-any */
      fromSeries: item.fromSeries as any,
      authors: item.authors
    }
  }))
}

const {
  title,
  description,
  shit,
  date,
  banner,
  categories,
  fromSeries,
  authors
} = Astro.props

const { protocol, host } = Astro.url

const baseUrl = `${protocol}//${host}`

const backdropImg = await getImage({
  src: banner,
  format: "webp",
  inferSize: true
})
---

<script>
  await import("$components/embeds/YoutubeEmbed")
  await import("$components/embeds/SocialEmbed")
  await import("$components/embeds/CodeBlockRenderer")
</script>

<Layout {title} {description} webpageType="article">
  <Fragment slot="img-preload">
    <meta property="og:image" content={backdropImg.src} />
    <meta name="twitter:image" content={backdropImg.src} />
    <link rel="preload" href={backdropImg.src} as="image" />
  </Fragment>
  <div
    class="mt-8 padding-width-responsive max-w-screen-xl mx-auto prose-headings:font-bold flex flex-col gap-y-5 [&_p]:leading-7 lg:[&_p]:leading-8"
    itemtype="https://schema.org/Blog"
    itemscope
  >
    <meta itemprop="thumbnailUrl" content={backdropImg.src} />
    <div>
      <BlogHeader
        {categories}
        {title}
        {description}
        {baseUrl}
        {fromSeries}
        {authors}
        {date}
        {banner}
      />
    </div>

    <div class="flex">
      <article
        set:html={documentToHtmlString(shit, rendererOptions)}
        class="min-w-0 text-base lg:text-lg prose-p:font-normal w-full text-white prose-h2:text-3xl prose-h3:text-2xl prose-headings:py-1.5 first:prose-p:mt-0 prose-p:my-3 [&_li_p]:my-0"
      />
      <BlogTOC client:idle>
        <ul
          class="flex flex-col gap-y-1 [&_a]:text-white [&_a]:opacity-60 hover:[&_a]:opacity-100 hover:[&_a]:text-kuro-violet-100"
          set:html={documentToHtmlString(shit, parseForTOC)}
        />
      </BlogTOC>
    </div>
  </div>
</Layout>
