---
import Layout from "$layouts/Layout.astro"
import BlogGrid from "$components/blog/BlogGrid.astro"
import { fetchBlogPosts } from "$lib/contentful"
import { routeSections } from "$lib/constants"
import BlogBrowserShelf from "$components/blog/BlogBrowserShelf.svelte"
import DetailHeading from "$components/DetailHeading.svelte"
import BlogShowcase from "$components/blog/BlogShowcase.astro"

const posts = await fetchBlogPosts({ limit: 9 })

const [postFeaturedBig, ...postFeaturedRest] = posts
  .filter((x) => x.isFeatured === true)
  .slice(0, 4)

const {
  headings: {
    blog: { description, title }
  }
} = routeSections
---

<Layout {title} {description}>
  <DetailHeading client:idle {title} {description} />
  <div class="mx-auto max-w-screen-2xl padding-width-responsive">
    <BlogBrowserShelf client:idle interactiveMode />
    <BlogShowcase {postFeaturedBig} {postFeaturedRest} />
    <BlogGrid heading="Latest posts" {posts} />
  </div>
</Layout>
