---
import Layout from "../../lib/components/Layout.astro"
import BlogPost from "../../lib/components/cards/BlogPost.svelte"
import { client, type BlogPostContent } from "../../lib/contentful"

const entries = await client.getEntries<BlogPostContent>({
  content_type: "blogPost",
  limit: 5
})

const posts = entries.items.map((item) => {
  const { banner, category, content, description, overridePublishDate, slug, title } = item.fields
  const image = banner ? `https:${banner.fields.file.url}?fm=webp&q=75&w=854&h=480` : ""

  const datePublished = overridePublishDate ? overridePublishDate : item.sys.createdAt

  return {
    title,
    slug,
    description,
    category,
    content,
    banner: image,
    date: datePublished,
    _tags: item.metadata.tags
  }
})

const filteredPosts = posts.sort((a, b) => (new Date(b.date) as any) - (new Date(a.date) as any))
---

<Layout title="Blog">
  <div class="mx-auto max-w-screen-2xl px-8">
    <div class="grid grid-cols-3 gap-8">
      {
        filteredPosts.map((item) => (
          <BlogPost
            slug={item.slug}
            title={item.title}
            description={item.description}
            date={item.date}
            image={item.banner}
          />
        ))
      }
    </div>
  </div>
</Layout>
