---
import DetailHeading from "$components/DetailHeading.astro"
import Layout from "$layouts/Layout.astro"
import _artworkData from "$lib/artwork-sheets"
import PieIcon from "~icons/lucide/pie-chart"
import { Image } from "astro:assets"
import { routeSections } from "$lib/constants"

const finalizedData = _artworkData.filter((x) => x.status !== "In progress")

const {
  headings: {
    artworks: { title, description }
  }
} = routeSections
---

<Layout {title} {description}>
  <DetailHeading client:idle {title} {description}>
    <a
      class="px-3.5 py-1.5 rounded-md border text-sm inline-flex gap-x-1.5 items-center"
      href="/artworks/stats"
    >
      <PieIcon />
      <span>Stats</span>
    </a>
  </DetailHeading>
  <section
    class="flex flex-wrap max-w-screen-2xl padding-width-responsive mx-auto gap-3"
  >
    {
      finalizedData.map((x) => (
        <div class="overflow-hidden relative group" id="artwork-item">
          <Image
            inferSize={true}
            widths={[400, 600, 840, 900]}
            quality={75}
            format="webp"
            src={x.url}
            alt=""
            class="h-80 rounded-lg select-none w-auto"
            loading="eager"
            draggable="false"
            fetchpriority="high"
            sizes="(max-width: 360px) 400px, (max-width: 720px) 600px, (max-width: 1367px) 840px, (max-width: 1600px) 900px"
          />

          <div class="absolute inset-0 pb-2.5 px-3 flex flex-col justify-end group-hover:opacity-100 opacity-0 bg-gradient-to-t from-black/65 to-75% transition-all">
            {x.date}
          </div>
        </div>
      ))
    }
  </section>
</Layout>
