---
export const prerender = true

import { fetchBlogPosts, fetchBlogAuthor } from "$lib/contentful"
import Layout from "$layouts/Layout.astro"
import ImageWrapper from "$components/ImageWrapper.astro"
import BlogGrid from "$components/blog/BlogGrid.astro"

export async function getStaticPaths() {
  const postAuthors = await fetchBlogAuthor()

  return postAuthors.map((author) => ({
    params: { author: author.slug },
    props: {
      avatar: author.avatar,
      name: author.name,
      slug: author.slug
    }
  }))
}

const { name, avatar, slug } = Astro.props

const blogPosts = await fetchBlogPosts({ limit: 15 })

const filteredPosts = blogPosts.filter((p) =>
  p.authors.some((a) => a.slug === slug)
)
---

<Layout title={`Posts from ${name}`}>
  <section
    class="mx-auto max-w-screen-xl padding-width-responsive pb-9 pt-12 flex flex-col md:flex-row items-center gap-y-8 gap-x-5"
    itemscope
    itemprop="https://schema.org/Person"
    aria-label={`Posts from ${name}`}
  >
    <div class="flex-shrink-0">
      <ImageWrapper
        itemprop="image"
        src={avatar}
        infer
        class="size-32 md:size-36 lg:size-40 rounded-xl"
      />
    </div>
    <div class="text-center md:text-left">
      <div class="text-sm md:text-lg opacity-65 mb-1">Posts from</div>
      <h1
        class="text-3xl lg:text-4xl font-extrabold mb-3.5 leading-none"
        itemprop="name"
      >
        {name}
      </h1>
    </div>
  </section>
  <div class="pt-2.5 mx-auto max-w-screen-xl padding-width-responsive">
    <BlogGrid posts={filteredPosts} referrer={`author:${slug}`} />
  </div>
</Layout>
