---
import BlogItem from "./BlogItem.astro"
import type { BlogPostsReturnType } from "$lib/contentful"

interface Props {
  postFeaturedBig: BlogPostsReturnType[number]
  postFeaturedRest: BlogPostsReturnType
}

const { postFeaturedBig, postFeaturedRest } = Astro.props
---

<section class="mb-8">
  <div class="relative flex gap-x-8 flex-col lg:flex-row">
    <div class="flex-shrink-0 w-full lg:w-3/5 lg:pb-0 pb-6">
      <BlogItem
        size="heading"
        referrer="featured_shelf"
        banner={postFeaturedBig.banner}
        title={postFeaturedBig.title}
        description={postFeaturedBig.description}
        date={postFeaturedBig.date}
        slug={postFeaturedBig.slug}
        category={postFeaturedBig.category}
        authors={postFeaturedBig.authors}
      />
    </div>
    <div
      class="gap-y-4 divide-y-2 divide-kuro-lavender-800/75 first:*:pt-0 last:*:pb-0 *:py-5"
    >
      {
        postFeaturedRest.map((item) => (
          <BlogItem
            banner={item.banner}
            title={item.title}
            description={item.description}
            date={item.date}
            slug={item.slug}
            category={item.category}
            size="small"
            referrer="featured_shelf"
            authors={item.authors}
          />
        ))
      }
    </div>
  </div>
</section>
