---
import Layout from "$layouts/Layout.astro"
import { fetchBlogPosts } from "$lib/contentful"
import { routeSections } from "$lib/utils"
import DetailHeading from "$components/DetailHeading.astro"
import BlogGrid from "$components/blog/BlogGrid.astro"
import BlogShowcase from "$components/blog/BlogShowcase.astro"

const posts = await fetchBlogPosts({ limit: 30 })

const [postFeaturedBig, ...postFeaturedRest] = posts
  .filter((x) => x.isFeatured === true)
  .slice(0, 4)

const {
  headings: {
    blog: { description, title }
  }
} = routeSections
---

<Layout {title} {description}>
  <Fragment slot="other-meta">
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Kuroji Fusky"
      href={new URL("rss.xml", Astro.site)}
    />
  </Fragment>
  <DetailHeading {title} {description} />
  <div class="mx-auto max-w-screen-xl padding-width-responsive">
    <BlogShowcase {postFeaturedBig} {postFeaturedRest} />
    <BlogGrid heading="Latest posts" posts={posts.slice(0, 6)} />
  </div>
</Layout>
