---
import Navbar from "./Navbar.svelte"
import Footer from "./Footer.svelte"
import "@fontsource/inter"
import "@fontsource/inter/600.css"
import "@fontsource/inter/700.css"
import "@fontsource/jetbrains-mono"

interface Props {
  title: string
  description?: string
  webpageType?: "website" | "article"
}

// Set Cache-Control headers for CDN caching
Astro.response.headers.set("Cache-Control", "public, s-maxage=60, stale-while-revalidate=30")

const { title, description, webpageType = "website" } = Astro.props
const { pathname: pathCrumbs } = Astro.url

const canonicalUrl = new URL(pathCrumbs, Astro.site)

const me = "@kurojifusky"
const siteTitle = "Kuroji Fusky"

const _title = pathCrumbs === "/" ? `${title} | ${siteTitle}` : title
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>{_title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://images.ctfassets.net/" crossorigin="" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />

    <meta property="og:title" content={_title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={webpageType} />

    <meta name="twitter:title" content={_title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:creator" content={me} />
    <meta name="twitter:site" content={me} />

    <meta name="darkreader-lock" />
    <link rel="canonical" href={canonicalUrl} />
  </head>
  <body
    class="font-body font-medium text-sm lg:text-base bg-kuro-dark2 text-kuro-violet-50 overflow-x-hidden"
  >
    <Navbar client:idle />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
