---
import { Image } from "astro:assets"
import BlogItem from "./BlogItem.svelte"

import type { BlogPostsReturnType } from "$lib/contentful"
import BlogAuthors from "./BlogAuthors.astro"

interface Props {
  postFeaturedBig: BlogPostsReturnType[number]
  postFeaturedRest: BlogPostsReturnType
}

const { postFeaturedBig, postFeaturedRest } = Astro.props
---

<section class="mb-8">
  <h2 class="text-3xl pb-4 font-bold">Featured</h2>
  <div class="relative flex gap-x-8 flex-col lg:flex-row">
    <div class="flex-shrink-0 w-full lg:w-3/5 lg:pb-0 pb-6">
      <BlogItem
        title={postFeaturedBig.title}
        description={postFeaturedBig.description}
        date={postFeaturedBig.date}
        slug={postFeaturedBig.slug}
        category={postFeaturedBig.category}
        referrer="featured_shelf"
      >
        <Image
          slot="banner"
          widths={[240, 540, 720]}
          height={1280}
          width={720}
          loading="eager"
          format="webp"
          sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px"
          class="w-full object-cover aspect-video transition-transform duration-300"
          src={postFeaturedBig.banner}
          alt={`Banner for ${postFeaturedBig.title}`}
        />
        <BlogAuthors
          slot="authors"
          authors={postFeaturedBig.authors}
          hasAvatar
        />
      </BlogItem>
    </div>
    <div
      class="gap-y-4 divide-y-2 divide-kuro-lavender-800/75 first:*:pt-0 last:*:pb-0 *:py-5"
    >
      {
        postFeaturedRest.map((item) => (
          <>
            <BlogItem
              title={item.title}
              description={item.description}
              date={item.date}
              slug={item.slug}
              category={item.category}
              size="small"
              referrer="featured_shelf"
            >
              <Image
                slot="banner"
                widths={[240, 480]}
                format="webp"
                height={600}
                width={600}
                quality={60}
                loading="eager"
                sizes="(max-width: 360px) 240px, (max-width: 720px) 480px"
                src={item.banner}
                alt={`Banner for ${item.title}`}
              />
              <BlogAuthors slot="authors" authors={item.authors} />
            </BlogItem>
          </>
        ))
      }
    </div>
  </div>
</section>
