---
import type { BlogPostsReturnType } from "$lib/contentful"
import BlogItem from "./BlogItem.astro"

interface Props {
  posts: BlogPostsReturnType
  heading?: string
}

const { posts, heading } = Astro.props
---

<section>
  {heading && <h2 class="text-3xl py-4 font-bold">{heading}</h2>}
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-8">
    {
      posts.map((item) => (
        <BlogItem
          banner={item.banner}
          title={item.title}
          description={item.description}
          date={item.date}
          slug={item.slug}
          category={item.category}
          authors={item.authors}
          size="normal"
          referrer="latest"
        />
      ))
    }
  </div>
</section>
