---
import { kebabCase } from "lodash-es"
import SparkleIcon from "~icons/lucide/sparkles"

import type { BlogPostsReturnType } from "$lib/contentful/fetchBlogPosts"
import { parseDateStr } from "$lib/utils"
import PeekTitle from "$components/PeekTitle.svelte"
import ImageWrapper from "$components/ImageWrapper.astro"
import BlogAuthors from "./BlogAuthors.astro"

interface Props {
  baseUrl: string
  categories: string[]
  title: string
  description: string
  fromSeries: {
    fields: {
      slug: string
      title: string
    }
  }
  authors: BlogPostsReturnType[number]["authors"]
  date: string
  banner: string
}

const {
  baseUrl,
  categories,
  title,
  description,
  fromSeries,
  authors,
  date,
  banner
} = Astro.props
---

<div>
  {/* Categories */}
  <span class="inline-flex flex-wrap mb-2.5 gap-x-6 gap-y-2.5">
    {
      categories.map((cat) => (
        <a
          class="bg-clip-text text-transparent font-semibold bg-gradient-to-tr to-kuro-royalblue-200 from-kuro-lavender-400 hover:selection:text-white selection:text-white"
          href={`${baseUrl}/blog/category/${kebabCase(cat)}`}
        >
          {cat}
        </a>
      ))
    }
  </span>

  {/* Title and excerpt */}
  <PeekTitle
    client:load
    class="text-3xl lg:text-[2.625rem] lg:leading-tight not-prose font-extrabold text-white"
    {title}
  />
  <p class="text-base lg:text-lg opacity-65 py-2 lg:py-3.5">{description}</p>

  {/* From series */}
  {
    fromSeries && (
      <div class="flex items-center pb-5 pt-2 px-2.5 -mb-3 rounded-tl-lg rounded-tr-lg bg-kuro-lavender-800">
        <span class="[&_svg]:size-full h-5 mr-1.5 flex-shrink-0">
          <SparkleIcon />
        </span>
        <span>
          From the series:
          <a
            href={`/blog/series/${fromSeries.fields.slug}`}
            class="font-semibold"
          >
            {fromSeries.fields.title}
          </a>
        </span>
      </div>
    )
  }

  {/* Banner */}
  <div class="z-[2] relative">
    <ImageWrapper
      widths={[540, 960, 1440]}
      height={1920}
      width={1080}
      quality={90}
      loading="eager"
      format="webp"
      sizes="(max-width: 360px) 540px, (max-width: 720px) 960px, (max-width: 1600px) 1440px"
      class="overflow-hidden aspect-video rounded-lg w-full object-cover"
      src={banner}
      alt={`Banner for ${title}`}
      fetchpriority="high"
      itemprop="image"
    />
  </div>

  {/* Author and date */}
  <div class="flex items-center py-5 gap-x-4">
    <div class="flex-1 flex flex-wrap gap-2.5 items-center">
      <span class="opacity-65">Posted by</span>
      <BlogAuthors {authors} hasAvatar />
    </div>
    <time datetime={date} itemprop="datePublished"
      >{parseDateStr(date).readableDate}</time
    >
  </div>
</div>
