---
import { siteTitle, siteAuthorHandle as me } from "../lib/constants"

import "@fontsource/inter/latin-400.css"
import "@fontsource/inter/latin-600.css"
import "@fontsource/inter/latin-700.css"
import "@fontsource/jetbrains-mono"
import "@fontsource/unbounded/latin-700.css"

import ParseArticle from "$components/ParseArticle.astro"
import Container from "$components/Container.svelte"
import Footer from "$components/Footer.astro"

interface Props {
  title: string
  description?: string
  webpageType?: "website" | "article"
  mdxMargin?: true
  author?: string
}

const {
  title,
  description,
  webpageType = "website",
  author,
  mdxMargin
} = Astro.props

const { pathname } = Astro.url

const canonicalUrl = new URL(pathname, Astro.site)
const _title = pathname !== "/" ? `${title} | ${siteTitle}` : title
---

<html lang="en" class="scroll-pt-20 scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <title>{_title}</title>

    <link rel="icon" type="image/png" href="/favicon.png" sizes="128x128" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <meta name="darkreader-lock" />

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />

    {/* OG tags */}
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_title" content={siteTitle} />
    <meta property="og:type" content={webpageType} />
    <meta property="og:url" content={canonicalUrl} />

    {
      /* Twitter tags, won't include "twitter:title" since it falls back to "og:*" meta tags */
    }
    <meta name="twitter:creator" content={me} />
    <meta name="twitter:site" content={me} />
    <meta name="twitter:url" content={canonicalUrl} />

    <link rel="canonical" href={canonicalUrl} />

    {/* Sitemap */}
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Special thanks to Alex Nguyen -- https://alexnguyen.co.nz/blog/preloading-images-with-astro/ -->
    <slot name="img-preload" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Kuroji Fusky"
      href={new URL("rss.xml", Astro.site)}
    />
  </head>
  <body
    class="font-body font-medium text-sm lg:text-base bg-kuro-dark2 text-kuro-violet-50 overflow-x-hidden selection:bg-kuro-lavender-600"
  >
    <a
      href="#skip-to-content"
      class="fixed top-2 left-2 pointer-events-none focus:pointer-events-auto focus:opacity-100 focus:translate-x-0 translate-x-full opacity-0 bg-kuro-lavender-700 z-50 px-4 py-2.5 rounded-md"
      data-astro-prefetch="false">Skip to content?</a
    >
    <Container client:idle>
      <main id="skip-to-content" class="min-h-[calc(100dvh-10rem)]">
        {
          mdxMargin ? (
            <div
              has-mdx-margin=""
              class="padding-width-responsive max-w-screen-2xl mx-auto"
            >
              <ParseArticle>
                <slot />
              </ParseArticle>
            </div>
          ) : (
            <slot />
          )
        }
      </main>
      <Footer />
    </Container>
  </body>

  <style is:global>
    @tailwind base;
    @tailwind components;

    @layer components {
      .padding-width-responsive {
        @apply px-5 md:px-8;
      }
    }

    @tailwind utilities;
  </style>
</html>
