---
import Navbar from "$components/Navbar"
import Footer from "$components/Footer.astro"

import "@fontsource/inter"
import "@fontsource/inter/600.css"
import "@fontsource/inter/700.css"
import "@fontsource/jetbrains-mono"
import "@fontsource/unbounded/latin-700.css"

interface Props {
  title: string
  description?: string
  webpageType?: "website" | "article"
  includeHeading?: true
}

// Set Cache-Control headers for CDN caching
Astro.response.headers.set(
  "Cache-Control",
  "public, s-maxage=60, stale-while-revalidate=30"
)

const {
  title,
  description,
  webpageType = "website",
  includeHeading
} = Astro.props

const { pathname } = Astro.url

const canonicalUrl = new URL(pathname, Astro.site)

const me = "@kurojifusky"
const siteTitle = "Kuroji Fusky"

const _title = pathname !== "/" ? `${title} | ${siteTitle}` : title
---

<html lang="en" class="scroll-pt-20 scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <title>{_title}</title>

    <link rel="icon" type="image/png" href="/favicon.png" sizes="128x128" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <meta name="darkreader-lock" />

    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    {webpageType === "article" && <meta name="author" content="Kuroji Fusky" />}

    {/* OG tags */}
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_title" content={siteTitle} />
    <meta property="og:type" content={webpageType} />
    <meta property="og:url" content={canonicalUrl} />

    {
      /* Twitter tags, won't include "twitter:title" since it falls back to "og:*" meta tags */
    }
    <meta name="twitter:creator" content={me} />
    <meta name="twitter:site" content={me} />
    <meta name="twitter:url" content={canonicalUrl} />

    <link rel="canonical" href={canonicalUrl} />

    {/* Sitemap */}
    <link rel="sitemap" href="/sitemap-index.xml" />

    {/* TODO make this dynamic */}
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Kuroji Fusky"
      href={new URL("rss.xml", Astro.site)}
    />

    <link rel="dns-prefetch" href="https://images.ctfassets.net/" />
    <link
      rel="preconnect"
      href="https://images.ctfassets.net/"
      crossorigin=""
    />
  </head>
  <body
    class="font-body font-medium text-sm lg:text-base bg-kuro-dark2 text-kuro-violet-50 overflow-x-hidden selection:bg-kuro-lavender-600"
  >
    <a
      href="#skip-to-content"
      class="fixed top-2 left-2 pointer-events-none focus:pointer-events-auto focus:opacity-100 focus:translate-x-0 translate-x-full opacity-0 bg-kuro-lavender-700 z-50 px-4 py-2.5 rounded-md"
      >Skip to content?</a
    >
    <Navbar client:idle />
    <main class="min-h-[calc(100dvh-4.25rem)]" id="skip-to-content">
      {
        includeHeading && (
          <div class="px-8 max-w-screen-2xl mx-auto my-6">
            <h1 class="text-4xl font-extrabold mb-2.5">{title}</h1>
            <p class="opacity-75">{description}</p>
          </div>
        )
      }
      <slot />
    </main>
    <Footer />
  </body>
</html>
